nav li a{
    text-decoration: none;
    color: inherit;
}
nav li img{
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
table{
    border-collapse: collapse;
}
th, td{
    border-bottom: var(--pico-border-width) solid var(--pico-table-border-color);
}
td{
    border-left: var(--pico-border-width) solid var(--pico-table-border-color);
}