<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le CEP</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="container">
        {% include "components/navbar.html" %}
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>