{%- extends "layout.html" -%}

{%- block content -%}    
    <h1>Bienvenue au CEP</h1>
    <div class="grid">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In labore veniam aliquip cupidatat enim laboris quis esse reprehenderit fugiat nostrud consequat. Et aliqua qui consequat officia laboris ad mollit laboris. Aliquip enim laboris voluptate velit amet ad.
            <br>
            Dolore adipiscing do laborum reprehenderit occaecat laboris ex. Occaecat commodo cillum est anim laboris. Sunt exercitation sit eiusmod veniam cillum aliqua enim nulla. Excepteur magna aute occaecat et lorem voluptate esse magna voluptate aute mollit.
        </div>
        <div><img src="https://picsum.photos/800/500"></div>
    </div>
{%- endblock -%}