{% extends "layout.html" %}
{% block content %}
<div>
    <h1>Panel</h1>
    {% if grade=="ADMIN" %}
    <article>
        <details>
        <summary><h3>Utilisateurs</h3></summary>
            <div>
                <h4>Ajouter un Utilisateurs</h4>
                <form action="/api/user/add" method="post">
                    <label>
                        Nom d'utilisateur :
                        <input type="text" name="name">
                    </label>
                    <label>
                        Mot de passe :
                        <input type="password" name="password">
                    </label>
                    <label>
                        Grade :
                        <select name="grade">
                            <option value="USER">USER</option>
                            <option value="ADMIN">ADMIN</option>
                        </select>
                    </label>
                    <button type="submit">Ajouter un utilisateur</button>
                </form>
                <hr>
                <h4>Supprimer un Utilisateurs</h4>
                <form action="/api/user/remove" method="post">
                    <label>
                        Nom d'utilisateur :
                        <select name="name">
                            {% for user in list_user %}
                                <option value="{{ user.name }}">{{ user.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button type="submit">Supprimer un utilisateur</button>
                </form>
            </div>
        </details>
    </article>

    <hr>
    {% endif %}
    
    <article>
        <details>
            <summary><h3>Evenement</h3></summary>
            <div>
                <h4>Ajouter un évènement</h4>
                <form action="/api/event" method="post">
                    <label>
                        Nom de l'évènement :
                        <input type="text" name="title">
                    </label>
                    <label>
                        Date de l'évènement :
                        <input type="datetime-local" name="date">
                    </label>
                    <label>
                        Description de l'évènement :
                        <textarea name="description"></textarea>
                    </label>
                    <button type="submit">Création d'un évènement</button>
                </form>
                <hr>
                <h4>Supprimer un évènement</h4>
                <form action="/api/event/remove" method="post">
                    <label>
                        Nom de l'évènement à supprimer :
                        <select name="title">
                            {% for event in list_event %}
                                <option value="{{ event.0 }}">{{ event.0 }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button type="submit">Supprimer l'évènement</button>
                </form>
            </div>
        </details> 
    </article>
    
</div>
<script src="/static/js/main.js"></script>
{% endblock %}