<nav>
  <ul>
    <li style="white-space: nowrap;"><img src="/static/assets/logo.jpg"><strong>Le CEP</strong></a></li>
  </ul>
  <ul>
    <li><a href="/">Acceuil</a></li>
    <li><a href="/planning">Planning</a></li>
    {% if !connected %}
    <li><form action="/contact" method="get"><button class="secondary">Contact</button></form></li>
    {% endif %}
    {% if connected %}
      <li><a href="/contact">Contact</a></li>
      <li><a href="/panel">Panel</a></li>
      <li><form action="/api/logout" method="post"><button >Logout</button></form></li>
    {% endif %}
  </ul>
</nav>