<h2>Nos Réunions :</h2>
<div>
  <h3>Régulières :</h3>  
  {% for meeting in weekly_meetings %}
    <article onclick="document.getElementById('modal-{{ meeting.title }}').showModal()" data-tooltip="{{ meeting.description }}">{{ meeting.title }} - {{ meeting.day }} à {{ meeting.heure }}</article>
    <dialog id="modal-{{ meeting.title }}">
      <article>
        <header>
          {{ meeting.title }} - {{ meeting.day }} à {{ meeting.heure }}
        </header>
        <div>
          {{ meeting.description }}
        </div>
        <footer>
          <button onclick="document.getElementById('modal-{{ meeting.title }}').close()">Fermer</button>
        </footer>
      </article>
    </dialog>
  {% endfor %}

  <h3>Ponctuel : </h3>
  {% for event in special_events %}
    <article onclick="document.getElementById('modal-{{ event.date }}').showModal()" data-tooltip="{{ event.description }}">{{ event.title }} - <span class="date" data-date="{{ event.date }}"></span></article>
    <dialog id="modal-{{ event.date }}">
      <article>
        <header>
          {{ event.title }} - <span class="date" data-date="{{ event.date }}"></span>
        </header>
        <div>
          {{ event.description }}
        </div>
        <footer>
          <button onclick="document.getElementById('modal-{{ event.date }}').close()">Fermer</button>
        </footer>
      </article>
    </dialog>
  {% endfor %}
</div>
  <script>
    document.querySelectorAll('.date').forEach(el => {
      const date = new Date(el.dataset.date);
      let text = date.toLocaleDateString(
                              'fr-FR', {  
                                weekday: 'long', 
                                day: '2-digit', 
                                month: 'long', 
                                year: 'numeric', 
                                hour: '2-digit', 
                                minute: '2-digit' 
                              });
      el.textContent = text[0].toUpperCase() + text.slice(1);
    })
</script>