<div class="">
<table>
  <thead>
    <tr>
      <th scope="col">Heure</th>
      <th scope="col">Lundi</th>
      <th scope="col">Mardi</th>
      <th scope="col">Mercredi</th>
      <th scope="col">Jeudi</th>
      <th scope="col">Vendredi</th>
      <th scope="col">Samedi</th>
      <th scope="col">Dimanche</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">09:00 - 10:00</th>
      <td class="Lundi"></td>
      <td class="Mardi"></td>
      <td class="Mercredi"></td>
      <td class="Jeudi"></td>
      <td class="Vendredi"></td>
      <td class="Samedi"></td>
      <td class="Dimanche"></td>
    </tr>
    <tr>
      <th scope="row">10:00 - 11:00</th>
      <td class="Lundi"></td>
      <td class="Mardi"></td>
      <td class="Mercredi"></td>
      <td class="Jeudi"></td>
      <td class="Vendredi"></td>
      <td class="Samedi"></td>
      <td class="Dimanche" rowspan="2" style="background:#3498db; text-align:center;">Culte</td>
    </tr>
    <tr>
      <th scope="row">11:00 - 12:00</th>
      <td class="Lundi"></td>
      <td class="Mardi"></td>
      <td class="Mercredi"></td>
      <td class="Jeudi"></td>
      <td class="Vendredi"></td>
      <td class="Samedi"></td>
      <!-- <td class="Dimanche"></td> -->
    </tr>
    <tr>
      <th scope="row">12:00 - 13:00</th>
      <td class="Lundi"></td>
      <td class="Mardi"></td>
      <td class="Mercredi"></td>
      <td class="Jeudi"></td>
      <td class="Vendredi"></td>
      <td class="Samedi"></td>
      <td class="Dimanche"></td>
    </tr>
    <tr>
      <th scope="row">13:00 - 14:00</th>
      <td class="Lundi"></td>
      <td class="Mardi"></td>
      <td class="Mercredi"></td>
      <td class="Jeudi"></td>
      <td class="Vendredi"></td>
      <td class="Samedi"></td>
      <td class="Dimanche"></td>
    </tr>
    <tr>
        <th scope="row">14:00 - 15:00</th>
        <td class="Lundi"></td>
        <td class="Mardi"></td>
        <td class="Mercredi"></td>
        <td class="Jeudi"></td>
        <td class="Vendredi"></td>
        <td class="Samedi"></td>
        <td class="Dimanche"></td>
    </tr>
    <tr>
        <th scope="row">15:00 - 16:00</th>
        <td class="Lundi"></td>
        <td class="Mardi"></td>
        <td class="Mercredi"></td>
        <td class="Jeudi"></td>
        <td class="Vendredi"></td>
        <td class="Samedi"></td>
        <td class="Dimanche"></td>
    </tr>
    <tr>
        <th scope="row">16:00 - 17:00</th>
        <td class="Lundi"></td>
        <td class="Mardi"></td>
        <td class="Mercredi"></td>
        <td class="Jeudi"></td>
        <td class="Vendredi"></td>
        <td class="Samedi"></td>
        <td class="Dimanche"></td>
    </tr>
    <tr>
        <th scope="row">17:00 - 18:00</th>
        <td class="Lundi"></td>
        <td class="Mardi"></td>
        <td class="Mercredi"></td>
        <td class="Jeudi"></td>
        <td class="Vendredi"></td>
        <td class="Samedi"></td>
        <td class="Dimanche"></td>
    </tr>
    <tr>
        <th scope="row">18:00 - 19:00</th>
        <td class="Lundi"></td>
        <td class="Mardi"></td>
        <td class="Mercredi"></td>
        <td class="Jeudi"></td>
        <td class="Vendredi"></td>
        <td class="Samedi"></td>
        <td class="Dimanche"></td>
    </tr>
    <tr>
        <th scope="row">19:00 - 20:00</th>
        <td class="Lundi"></td>
        <td class="Mardi"></td>
        <td class="Mercredi"></td>
        <td class="Jeudi" style="background:#f39c12; text-align:center;">Réunion<br>de<br>Prière</td>
        <td class="Vendredi"></td>
        <td class="Samedi"></td>
        <td class="Dimanche"></td>
    </tr>
  </tbody>
</table>
</div>